<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.ReviewBoardMapper">
	<select id="selectAllReview" resultType="ReviewBoardVO">
		select * from review order by rb_regdate desc
	</select>
	<insert id="insertReview">
		insert review(rb_title, rb_context, rb_writer)
		values (#{rb_title},#{rb_context},#{rb_writer})
	</insert>
	<select id="readReview" resultType="ReviewBoardVO">
		select * from review where rb_no=#{rb_no}
	</select>
	<delete id="deleteReview">
		delete from review where rb_no=#{rb_no}
	</delete>
	<update id="updateReview">
		update review set rb_title=#{rb_title}, rb_context=#{rb_context} where rb_no=#{rb_no}
	</update>
	
	<!-- 페이징 게시글 10개 가져오기 -->
	<select id="listPage" resultType="ReviewBoardVO">
		select * from review order by rb_no desc limit #{page}, 10
	</select>
	<select id="listCriteria" resultType="ReviewBoardVO">
		select * from review order by rb_no desc limit #{pageStart}, #{perPageNum}
	</select>
	<select id="totalCount" resultType="int">
		select count(rb_no) from review
	</select>
	
	
	<!-- 검색 페이징 -->
	<!-- 후기게시판에서 검색한 조건에 맞는 리스트 찾아오기 -->
	<sql id="search">
		<if test="searchType=='t'.toString()">
			where rb_title like CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchType=='c'.toString()">
			where rb_context like CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchType=='w'.toString()">
			where rb_writer like CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchType=='tc'.toString()">
			where rb_title like CONCAT('%',#{keyword},'%') OR where rb_context like CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchType=='cw'.toString()">
			where rb_context like CONCAT('%',#{keyword},'%') OR where rb_writer like CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchType=='tcw'.toString()">
			where rb_title like CONCAT('%',#{keyword},'%') 
			OR where rb_context like CONCAT('%',#{keyword},'%') 
			OR where rb_writer like CONCAT('%',#{keyword},'%')
		</if>
	</sql>
	<select id="listSearch" resultType="ReviewBoardVO">
		select * from review
			<include refid="search"></include>
		order by rb_no desc limit #{pageStart}, #{perPageNum} 	
	</select>
	
	<!-- search한 것에 대한 totalcount -->
	<select id="totalSearchCount" resultType="int">
		select count(rb_no) from review
			<include refid="search"></include>
	</select>
	
	<!-- ViewCnt 조회수 증가시키기 -->
	<update id="updateReviewViewCnt">
		update review set rb_viewcnt = rb_viewcnt+1 where rb_no = #{rb_no}
	</update>
	
	<!-- 파일 업로드 file upload -->
	<!-- LAST_INSERT_ID()를 쓰면 제일 마지막에 auto_increment된 아이를 받을 수 있음
	board에서 글 쓸 때 bno -->
	<insert id="addAttach">
		insert into review_attach(att_filename, rb_no) values (#{att_filename}, LAST_INSERT_ID())
	</insert>
	<select id="getAttach" resultType="String">
		select att_filename from review_attach where rb_no = #{rb_no} order by att_regdate	
	</select>
	<!-- 파일 삭제 -->
	<sql id="filename">
		<if test="att_filename!=null">
			and att_filename=#{att_filename}
		</if>
	</sql>
	<delete id="deleteAttach">
		delete from review_attach where rb_no=#{rb_no}
		<include refid="filename"></include>
	</delete>
	<insert id="replaceAttach">
		insert into review_attach(att_filename, rb_no) values (#{att_filename}, #{rb_no})
	</insert>
	
	<!-- 게시판에 답글 개수 나타내기 -->
	<update id="updateReplyCnt">
		update review set rb_replycnt = rb_replycnt + #{amount}
		where rb_no = #{rb_no}
	</update>
	
	<!-- 메인화면  최신 후기 4개-->
	<select id="selectMainReview" resultType="ReviewBoardVO">
		select * from review order by rb_no desc limit 4
	</select>
</mapper>